apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
  annotations:
    force-sync: 2025-11-09T19:52:47
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
    spec:
      containers:
        - image: gcr.io/google-samples/gb-frontend:v10
          name: guestbook-ui
          ports:
            - containerPort: 80
